Repository AlexCadigan/FantasyTennis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Create utility for measuring performance of app
  client/package.json
  client/src/util/ReportWebVitals.ts
Due: prettier --write, eslint

Move server tests to dedicated folder
  package-lock.json
  package.json
  server/package.json
  tests/jest.config.json
  tests/package.json
  tests/server/App.test.ts
  tests/server/AppServer.test.ts
Due: prettier --write, eslint

Add tests for client React components and setup jest projects
  package-lock.json
  tests/client/App.test.tsx
  tests/client/jest.config.json
  tests/jest.config.json
  tests/package.json
  tests/server/jest.config.json
Due: prettier --write, eslint

Remove object-oriented class wrappers
  tests/server/App.test.ts
  tests/server/AppServer.test.ts
Due: prettier --write, eslint

Don't run unit tests on pre commit - it takes too long
  .huskyrc.json
Due: prettier --write

Remove unused test script
  server/package.json
Due: prettier --write

Build client app on start
  client/package.json
Due: prettier --write

Server now returns index page
  server/src/App.ts
  server/src/routes/index.ts
Due: prettier --write, eslint

Remove unnecessary ignore patterns
  tests/jest.config.json
Due: prettier --write

Update readme with more details and structure
  README.md
Due: prettier --write

Exclude unused folders from being transpiled
  .eslintrc.json
  tsconfig.json
Due: prettier --write

Rebuild client after changes when running the server
  client/package.json
  nodemon.json
  package.json
  server/nodemon.json
  server/package.json
  tsconfig.json
Due: prettier --write

Created smoke test for returning index page
  server/src/App.ts
  tests/server/App.test.ts
Due: prettier --write, eslint

Update with new file structure
  README.md
Due: prettier --write

Ignore changes to tests when restarting the server
  nodemon.json
Due: prettier --write

Don't collect coverage for unit tests.
  package-lock.json
  tests/jest.config.json
Due: prettier --write

Saving work on login page
  client/src/components/App.css
  client/src/components/App.tsx
Due: prettier --write, eslint

Adding login page template
  client/src/components/App.tsx
  client/src/components/LoginPage/LoginPage.css
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Start supporting signing in/up UI
  .eslintrc.json
  client/src/components/App.tsx
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Started implementing sign in/up API.
  client/src/components/LoginPage/LoginPage.css
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Run prettier on css files
  .lintstagedrc.json
Due: prettier --write

Separated out string resources.
  client/src/components/LoginPage/LoginPage.tsx
  client/src/components/LoginPage/Resources.ts
  client/src/util/ResourceBuilder.ts
Due: prettier --write, eslint

Create routes for sign in/sign up
  client/src/util/APIs.ts
  server/src/App.ts
  server/src/routes/Login.ts
  server/src/routes/routes.ts
Due: prettier --write, eslint

Store email and password in state
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Code refactor/documentation cleanup
  client/src/components/LoginPage/LoginPage.css
  client/src/components/LoginPage/Resources.ts
  client/src/util/ReportWebVitals.ts
Due: prettier --write, eslint

Add function to build API request
  client/src/util/ResourceBuilder.ts
  client/src/util/StringBuilder.ts
Due: prettier --write, eslint

Set document title dynamically
  client/public/index.html
  client/src/components/App.tsx
Due: prettier --write, eslint

Create cross-app styles
  client/src/components/AppStyles.css
  client/src/components/LoginPage/LoginPage.css
Due: none

Refactor utility functions
  client/src/Resources/Resources.ts
  client/src/components/LoginPage/LoginPage.tsx
  client/src/util/APIs.ts
  client/src/util/StringBuilder.ts
Due: prettier --write, eslint

Implement global styles
  client/src/index.css
  client/src/index.tsx
Due: prettier --write, eslint

Adding validation
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Remove debugging
  server/src/routes/Login.ts
Due: prettier --write, eslint

Update copyright
  LICENSE.md
Due: prettier --write

Show validation message for invalid email
  client/src/components/LoginPage/LoginPage.tsx
Due: prettier --write, eslint

Break out email field into separate component
  client/src/components/App.tsx
  client/src/components/AppStyles.css
  client/src/components/UserAuthentication/EmailField.tsx
  client/src/components/UserAuthentication/LoginPage.css
  client/src/components/UserAuthentication/LoginPage.tsx
  client/src/index.css
  client/src/index.tsx
Due: prettier --write, eslint

Created input field component
  client/src/Resources/Resources.ts
  client/src/components/UserAuthentication/EmailField.tsx
  client/src/components/UserAuthentication/InputField.tsx
Due: prettier --write, eslint

Creating abstract class for authentication pages
  client/src/components/AppStyles.css
  client/src/components/UserAuthentication/AuthenticationPage.css
  client/src/components/UserAuthentication/AuthenticationPage.tsx
  client/src/components/UserAuthentication/LoginPage.css
  client/src/components/UserAuthentication/LoginPage.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Setting up BrowerRouter for page navigation
  client/package.json
  client/src/components/App.tsx
  package-lock.json
Due: prettier --write, eslint

Setting up individual user authentication pages.
  client/src/Resources/Resources.ts
  client/src/components/UserAuthentication/AuthenticationPage.tsx
  client/src/components/UserAuthentication/InputField.tsx
  client/src/components/UserAuthentication/LoginPage.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Added browser route navigation between different authentication pages
  client/src/components/App.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{html,json,md,webmanifest})
  eslint: any of: **/*.{ts,tsx}
