Repository AlexCadigan/FantasyTennis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Refactor resource strings
  client/src/Resources/Resources.ts
  client/src/components/App.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Remove validation text when user beings typing in field
  client/src/components/UserAuthentication/InputField.tsx
Due: prettier --write, eslint

Switch to using React-Bootstrap
  client/package.json
  client/src/Resources/Resources.ts
  client/src/components/App.tsx
  client/src/components/AppStyles.ts
  client/src/components/UserAuthentication/AuthenticationPage.css
  client/src/components/UserAuthentication/AuthenticationPage.tsx
  client/src/components/UserAuthentication/InputField.tsx
  package-lock.json
Due: prettier --write, eslint

Add website header
  client/src/Resources/Resources.ts
  client/src/components/UserAuthentication/AuthenticationPage.tsx
  client/src/components/UserAuthentication/Header.tsx
Due: prettier --write, eslint

Rewrite UI using React bootstrap
  client/src/Resources/Resources.ts
  client/src/components/AppStyles.ts
  client/src/components/UserAuthentication/AuthenticationPage.tsx
  client/src/components/UserAuthentication/InputField.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Add header component
  client/src/components/UserAuthentication/Header.css
  client/src/components/UserAuthentication/Header.tsx
Due: prettier --write, eslint

Created parent class for the sign in/up page
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignInOrUp.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Remove unused interfaces
  .eslintrc.json
  client/src/components/UserAuthentication/Header.tsx
  client/src/components/UserAuthentication/InputField.tsx
Due: prettier --write, eslint

Documentation updates
  client/src/Resources/Resources.ts
  client/src/components/App.tsx
  client/src/components/UserAuthentication/Header.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
Due: prettier --write, eslint

Saving work.
  client/src/components/App.tsx
  client/src/components/UserAuthentication/LoginPage.tsx
  client/src/components/UserAuthentication/ResetPassword.tsx
  client/src/components/UserAuthentication/SignIn.tsx
  client/src/components/UserAuthentication/SignUp.tsx
  client/src/index.tsx
  package-lock.json
Due: prettier --write, eslint

Adding Amplify build script
  amplify.yml
  package.json
Due: prettier --write

Updated build scripts for Amplify
  client/package.json
  package.json
Due: prettier --write

Update base directory
  amplify.yml
Due: none

Update scripts
  .lintstagedrc.json
  amplify.yml
  nodemon.json
Due: prettier --write

Add 2023 to copyright
  LICENSE.md
Due: prettier --write

Incorporated Amplify into app component.
  .eslintignore
  client/src/components/App.tsx
  client/src/index.tsx
  client/src/ui-components/App.tsx
  client/src/ui-components/NavBarHeader2.d.ts
  client/src/ui-components/NavBarHeader2.jsx
  client/src/ui-components/index.js
  client/src/ui-components/studioTheme.js
  client/src/ui-components/studioTheme.js.d.ts
  client/src/ui-components/utils.js
  client/tsconfig.json
Due: prettier --write, eslint

Change client code location
  amplify.yml
  amplify/cli.json
  client/src/ui-components/App.tsx
  package-lock.json
  package.json
  src/index.tsx
  src/package.json
  src/public/android-chrome-192x192.png
  src/public/android-chrome-512x512.png
  src/public/apple-touch-icon.png
  src/public/browserconfig.xml
  src/public/favicon-16x16.png
  src/public/favicon-32x32.png
  src/public/favicon.ico
  src/public/index.html
  src/public/manifest.webmanifest
  src/public/mstile-150x150.png
  src/public/robots.txt
  src/public/safari-pinned-tab.svg
  src/tsconfig.json
  src/ui-components/App.tsx
  src/ui-components/NavBarHeader2.d.ts
  src/ui-components/NavBarHeader2.jsx
  src/ui-components/index.js
  src/ui-components/studioTheme.js
  src/ui-components/studioTheme.js.d.ts
  src/ui-components/utils.js
  src/util/ReportWebVitals.ts
Due: prettier --write, eslint

Restructuring project to use Amplify
  .eslintignore
  amplify/cli.json
  package-lock.json
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/manifest.webmanifest
  public/mstile-150x150.png
  public/robots.txt
  public/safari-pinned-tab.svg
  server/package.json
  server/src/App.ts
  server/src/AppServer.ts
  server/src/StartApp.ts
  server/src/config/Config.ts
  server/src/routes/index.ts
  server/src/views/error.pug
  server/src/views/layout.pug
  src/package.json
  src/tsconfig.json
  tests/client/App.test.tsx
  tests/client/jest.config.json
  tests/jest.config.json
  tests/package.json
  tests/server/App.test.ts
  tests/server/AppServer.test.ts
  tests/server/jest.config.json
  tsconfig.json
Due: prettier --write, eslint

Use nav bar header component
  package.json
  src/ui-components/App.tsx
Due: prettier --write, eslint

Remove homepage attribute.
  package.json
Due: prettier --write

Correct artifact base directory
  amplify.yml
Due: none

Delete amplify/team-provider-info.json
  amplify/team-provider-info.json
Due: prettier --write

Remove unused packages.
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  README.md
  nodemon.json
  package-lock.json
  package.json
  src/ui-components/App.tsx
  tsconfig.json
Due: prettier --write, eslint

Support launching from VS Code.
  .vscode/launch.json
Due: prettier --write

Add JS/JSX files
  .lintstagedrc.json
Due: prettier --write

Rename folder
  src/utils/ReportWebVitals.ts
Due: prettier --write, eslint

Update copyright dates
  LICENSE.md
Due: prettier --write

Fixed npm audit issues
  package-lock.json
Due: prettier --write

Updated dependencies to latest, backwards compatible version
  package-lock.json
  package.json
Due: prettier --write

Upgrade Amplify CLI version
  .gitignore
  src/ui-components/studioTheme.js
Due: none

Add template for GraphQL data model.
  .eslintignore
  .graphqlconfig.yml
  amplify/backend/api/FantasyTennis/cli-inputs.json
  amplify/backend/api/FantasyTennis/parameters.json
  amplify/backend/api/FantasyTennis/schema.graphql
  amplify/backend/api/FantasyTennis/stacks/CustomResources.json
  amplify/backend/api/FantasyTennis/transform.conf.json
  amplify/backend/backend-config.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  src/API.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/ui-components/TournamentsCreateForm.d.ts
  src/ui-components/TournamentsCreateForm.jsx
  src/ui-components/TournamentsUpdateForm.d.ts
  src/ui-components/TournamentsUpdateForm.jsx
  src/ui-components/index.js
Due: prettier --write, eslint

Implement outline for user authentication
  amplify/backend/auth/FantasyTennis/cli-inputs.json
  amplify/backend/backend-config.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  src/ui-components/App.tsx
Due: prettier --write, eslint

Updating figma components
  src/ui-components/App.tsx
  src/ui-components/Header.d.ts
  src/ui-components/Header.jsx
  src/ui-components/Homepage.d.ts
  src/ui-components/Homepage.jsx
  src/ui-components/Logo.d.ts
  src/ui-components/Logo.jsx
  src/ui-components/NavBarHeader2.d.ts
  src/ui-components/NavBarHeader2.jsx
  src/ui-components/index.js
  src/ui-components/studioTheme.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{css,html,json,md,webmanifest})
  eslint: any of: **/*.{ts,tsx}
